html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .05em;
  background-color: #f3f4ed;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin-bottom: 0px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: .9;
}

section {
  padding: 80px 0;
}

section h2 {
  font-size: 46px;
  font-weight: 400;
  letter-spacing: .1em;
}

section p {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.8;
}

span {
  font-size: 25px
}

.block-title {
  max-width: 700px;
  margin: 0 auto;
}

.topmargin-sm {
  margin-top: 30px !important;
}

.topmargin-lg {
  margin-top: 60px !important;
}

.secondary-btn {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 15px 40px;
  display: inline-block;
  margin: 20px 5px 0 5px;
}

.secondary-btn:hover {
  background-color: #ffffff;
  color: #2d3234;
}

/*/////////////////////////////////////////
Navbar
////////////////////////////////////////*/
.navbar {
  background-color: #ffffff;
  z-index: 9999;
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #222729;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #222729;
  opacity: .9;
}

.nav-item i {
  font-size: 20px;
  margin-left: 20px;
  color: #222729;
}

.navbar-toggler {
  font-size: 30px;
  color: #000000;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.header-logo {
  max-width: 180px;
  min-width: 180px;
}

/*/////////////////////////////////////////
Hero
////////////////////////////////////////*/
#hero {
  padding: 20px 0;
}

.hero-container-desktop {
  position: relative;
  overflow: hidden;
}

.hero-container-desktop img {
  max-width: 100%;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.hero-container-desktop:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hero-details {
  position: absolute;
  top: 130px;
  left: 50px;
  max-width: 500px;
  z-index: 9000;
}

.hero-details h1 {
  font-size: 100px;
  font-weight: 200;
  color: white;
}

/*/////////////////////////////////////////
Properties
////////////////////////////////////////*/
#properties {
  color: #222729;
  text-align: center;
}

.icon {
  color: #eb1e2d;
  margin: 1rem;
}

.property-container {
  position: relative;
  overflow: hidden;
  margin: 18px 0;
}

.property-r {
  position: relative;
  overflow: hidden;
  margin: 18px 0;
  padding: 68px;
  line-height: 3;
  background-color: white;
  color: black;
  text-align: left;
}

.exp-text {
  margin-bottom: 15px;
}

.property-container img {
  max-width: 100%;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.property-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.property-title, .property-title-sm {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ffffff;
  z-index: 9000;
}

.property-title h3 {
  font-size: 36px;
}

.property-title-sm h3 {
  font-size: 20px;
}

.property-title-sm span {
  font-size: 12px;
}

/*/////////////////////////////////////////
Blog
////////////////////////////////////////*/
#blog {
  color: #333333;
}

#blog h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 10px;
}

#blog a {
  font-size: 14px;
  font-weight: 200;
  color: #333333;
}

.blog-img {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.blog-info {
  margin-top: 30px;
  padding: 10px;
}

/*/////////////////////////////////////////
Call to Action
////////////////////////////////////////*/
#call-to-action {
  background-color: #2d3234;
  border-bottom: 1px solid hsla(0, 0%, 100%, .05);
  font-size: 200;
  text-align: center;
}

#call-to-action h3 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

#call-to-action p {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.8;
}

/*/////////////////////////////////////////
Footer
////////////////////////////////////////*/
#footer {
  background-color: #2d3234;
  color: #ffffff;
  padding: 20px 0;
}

#footer ul {
  margin-bottom: 0px;
}

#footer li {
  margin: 0 15px;
}

/*/////////////////////////////////////////
Copyright
////////////////////////////////////////*/
#copyright {
  background-color: #222729;
  color: #919394;
  padding: 15px 0;
  letter-spacing: .1em;
  text-align: center;
}

#copyright small {
  font-weight: 200;
}

#copyright a {
  color: #ffffff;
}


/* Logo and Images */

.logo-img {
  text-align: center;
}

.logo-trip {
  width: 150px;
  padding-bottom: 50px;
}

.image-trip {
  text-align: center;
}

.image-trip2 {}

.logo-solo {
  width: 250px;
}

/* Selling Process */

#selling-process {
  text-align: center !important;
  color: #f3f4ed;
}
.sellingp{
    padding: 5rem;
    background: #eb1e2d;
}

.buyingp{
  padding: 5rem;
  background: #2d2926;
}
